* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bghome: url(assets/546539.webp);
    --bgabout: url(assets/3337631.webp);
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Dosis';
    font-weight: bold;
}

.bg {
    background-image: var(--bghome);
    background-size: cover;
    font-size: 22px;
    height: 100vh;
    letter-spacing: 2px;
}

header {
    display: flex;
}

.logo-header {
    margin: 50px 75px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 50px 150px;
}

#logo {
    width: 8vw;
}

#last {
    border: none;
}

.menu-container a {
    color: rgb(240, 240, 240);
    font-size: 16px;
    text-decoration: none;
    margin-left: 25px;
    padding-right: 25px;
    border-right: solid 1px white;
}

a:hover {
    color: rgb(175,175,175, 0.45);
}

a:active {
    color: rgb(175,175,175, 0.7);
}

.text-home {
    letter-spacing: 1px;
    margin: 100px 250px;
    font-size: 24px;
}

.text-home h2{
    font-size: 64px;
}

.text-home button {
    background-color: rgb(175,175,175, 0.45);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: bolder;
    padding: 25px;
    margin: 200px 150px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.4s;
    cursor: pointer;
}

.text-home button:hover {
    background-color: rgb(175,175,175, 0.7);
    box-shadow: 0px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

.text-home button:active {
    background-color: rgb(175,175,175, 0.9);
}

.about-container {
    background-image: var(--bgabout);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -36vw;
    font-size: 22px;
    height: 100vh;
    letter-spacing: 2px;
}

#logo2 {
    width: 14vw;
    margin-bottom: 7vh;
}

.about-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    margin: 8% 45%;
}

.about-text p {
    margin-bottom: 7vh;
}

.about-text span {
    font-size: 16px;
    margin-bottom: 7vh;
}

.services-container {
    display: flex;
    align-content: space-between;
    margin-left: 40%;
    margin-top: -12%;
}

.services-container ul {
    font-size: 25px;
    margin-bottom: 2vh;
    list-style-type: none;
    margin-right: 8vw;
}

.services-list-prices {
    transform: translateY(-2vh);
    padding-top: 2vh;
    border-right: 4px solid #FFF;
}

#sale {
    color: #7da561;
}

.services-list #sale {
    border-left: 2px solid #7da561;
    padding-left: 10px;
}

.services-container h1 {
    font-size: 42px;
    position: relative;
    right: 15vw;
    bottom: 2vh;
    transform: rotate(0.25turn);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(25vh);
    margin-bottom: 18vw
}

footer img {
    width: 3vw;
    margin-bottom: 1vh;
    transform: rotate(45deg);
    animation: tools 1s linear infinite alternate;
}

@keyframes tools {
    from {transform: rotate(5deg)}
    to {transform: rotate(45deg)}
}