/* General settings */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dosis';
    src: url(fonts/Dosis-SemiBold.ttf) format('truetype');
}

:root {
    --bghome: url(assets/546539.webp);
    --bgabout: url(assets/3337631.webp);
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Dosis';
    font-weight: bold;
    font-size: 10px;
    overflow-x: hidden;
}

/* Heading settings */

.bg {
    background-image: var(--bghome);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20vw 20vh;
    font-size: 22px;
    height: 100vh;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-header {
    width: 25%;
    margin: 5vh 0 2vh 8vh;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 50%;
    margin-right: 18vw;
}

#logo {
    width: 6.6em;
}

#last {
    border: none;
}

ul a {
    color: rgb(240, 240, 240);
    font-size: 16px;
    text-decoration: none;
    padding: 0 1.5em;
    border-right: solid 1px white;
}

a:hover {
    color: rgb(175,175,175, 0.45);
}

a:active {
    color: rgb(175,175,175, 0.7);
}

.list {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: none;
    margin-right: 8vw;
}

.line {
    width: 2.5em;
    height: .3em;
    background-color: rgb(240, 240, 240);
    margin: .6em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

@media only screen and (max-width: 1200px) {
    .list {
        display: block;
        transition: .3s ease-in-out;
    }

    .list.active .line {
        transform: rotate(180deg);
        background-color: rgba(100, 100, 100, 0.45);
    }

    ul {
        position: absolute;
        top: 13vh;
        right: 0;
        margin-right: 3.5vw;
        height: 50vh;
        width: auto;
        flex-direction: column;
        text-align: center;
        border-radius: 15px;
        padding: .2em;
        transform: translate(300%);
        clear: both;
    }

    ul.active {
        transform: translate(0%);
        transition: transform 0.3s ease-out;
    }

    ul a {
        border: none;
        padding: 15px;
    }

    ul li {
        box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.1);
        padding-bottom: 5px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 720px) {
    .list {
        display: none;
    }

    nav {
        justify-content: center;
    }

    .logo-header {
        width: auto;
        margin: 5vh auto;
    }

    #logo {
        width: 6em;
    }
}

/* Home settings */

.text-home {
    letter-spacing: 1px;
    margin: 10vh 25vh;
    font-size: 1.5rem;
}

.text-home h2{
    font-size: 4rem;
}

.text-home button {
    background-color: rgb(175,175,175, 0.4);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 62%;
    font-family: 'Segoe UI';
    font-weight: bolder;
    padding: 1rem;
    margin: 15% 10%;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.4s;
    cursor: pointer;
}

.text-home button:hover {
    background-color: rgb(175,175,175, 0.5);
    box-shadow: 0px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

.text-home button:active {
    background-color: rgb(175,175,175, 0.7);
}

@media only screen and (max-width: 1200px) {
    .text-home {
        margin: 15vh 10vw;
        font-size: 1rem;
    }

    .text-home h2 {
        font-size: 3rem;
    }
}

/* Container cat */

.container-cat {
    display: block;
} 

/* About setting */

.about-container {
    background-image: var(--bgabout);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -36vw;
    font-size: 1.4rem;
    height: 100vh;
    letter-spacing: 2px;
    margin-top: 7vh;
}

#logo2 {
    width: 14vw;
    margin-bottom: 7vh;
}

.about-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    position: relative;
    left: 45%;
}

.about-text p {
    margin-bottom: 7vh;
}

.about-text span {
    font-size: 1rem;
}

.margin-style {
    margin-bottom: 7vh;
}

@media only screen and (max-width: 1200px) {
    .about-container {
        font-size: 1.3rem;
    }

    .about-text span {
        font-size: 0.9rem;
    }
}

/* Services settings */

.services-container {
    display: flex;
    align-content: space-between;
    transform: translate(40%, -40%);
}

.services-container ol {
    font-size: 25px;
    margin-bottom: 2vh;
    list-style-type: none;
    margin-right: 8vw;
}

.services-list-prices {
    transform: translateY(-2vh);
    padding-top: 2vh;
    border-right: 4px solid #FFF;
}

#sale {
    color: #7da561;
}

.services-list #sale {
    border-left: 2px solid #7da561;
    padding-left: 10px;
}

.services-container h1 {
    font-size: 42px;
    right: 6em;
    position: relative;
    transform: rotate(0.25turn);
}

@media only screen and (max-width: 1200px) {
    .services-container {
        transform: scale(90%);
        position: relative;
        left: 30%;
    }
}

/* Footer settings */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
    font-size: 16px;
}

footer img {
    width: 2.5vw;
    margin-bottom: 1vh;
    transform: rotate(45deg);
    animation: tools 1s linear infinite alternate;
}

@keyframes tools {
    from {transform: rotate(5deg)}
    to {transform: rotate(45deg)}
}