* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bgimg: url(assets/546539.webp);
}

::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: black;
    color: white;

}

.bg {
    background-image: var(--bgimg);
    background-size: cover;
    font-family: Impact;
    font-size: 22px;
    height: 100vh;
    letter-spacing: 2px;
}

header {
    display: flex;
}

.logo-container {
    display: flex;
    margin: 50px 75px;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 150px;
}

#logo {
    width: 8vw;
}

#last {
    border: none;
}

.menu-container a {
    color: rgb(240, 240, 240);
    font-size: 16px;
    text-decoration: none;
    margin-left: 25px;
    padding-right: 25px;
    border-right: solid 1px white;
}

a:hover {
    color: rgb(175,175,175, 0.45);
}

a:active {
    color: rgb(175,175,175, 0.7);
}

.text-container {
    font-family: Arial;
    letter-spacing: 1px;
    margin: 100px 250px;
}

h1{
    font-size: 56px;
}

button {
    background-color: rgb(175,175,175, 0.45);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI';
    font-weight: bolder;
    padding: 25px;
    margin: 200px 150px;
    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(175,175,175, 0.7);
    box-shadow: 0px 8px 8px 0 rgba(0, 0, 0, 0.4);
}

button:active {
    background-color: rgb(175,175,175, 0.9);
}